*{
  font-family: "Arial Black";
}
body {
  background-color: #F2F2F2;
}
button {
  border: 0px;
  color:white;
  padding: 7px;
  margin: 5px;
  background-color: darkgray;
}
button:hover{
  background-color: black;
  color: gray;
}
img {
  margin: 5px;
  border-radius: 15%;
}
h2 {
  font-family: cursive;
}
