* {
    margin: 0px;
    padding: 0px;
}
body, html {
    height: 100%;
}

.bg {
    /* The image used background-image: url("image/max.jpg");*/

    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 70%;
    mix-blend-mode: soft-light;
    filter: grayscale(100)
}
/* Dropdown Button */
.dropbtn {
  background-color: #8161ab;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #e7e1ef;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#d2c8e2;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #b4a1cd}
