* {
    margin: 0px;
    padding: 0px;
}
body, html {
    height: 100%;
    background-color: black;
}

.bg {
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 70%;
    mix-blend-mode: soft-light;
    filter: grayscale(100);
}
.bg a {
  position: left;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  opacity: 0.3;
}
.bg a:hover {
  animation-name: opacityUp;
  animation-duration: 1s;
}
.bg a:not(hover){
  animation-name: opacityDown;
  animation-duration: 1s;
}
.previous {
  background-color: #f1f1f1;
  color: black;
  font-size: 50px;
}


.wrapper {
  display: grid;
  height: 100%;
  grid-template-areas:
    "a b"
    "c d";
}
.item {
  filter: grayscale(100%);
  background-size: cover; /* <-- background size */
  background-position: center; /* <-- background position */
}

.item h1 {
  color: #ffffff;
  margin:auto;
  line-height:50px;
  height: 50%;
  background-color: black;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.item:hover {
  animation-name: grayscaleUp;
  animation-duration: 1.5s;
  filter: grayscale(0%);
}
.item:not( :hover ){
  animation-name: grayscaleDown;
  animation-duration: 1.5s;
 }

 .loader {
   border: 16px solid #5A5050; /* Light grey */
   border-top: 16px solid #A2D4AB; /* Blue */
   border-radius: 50%;
   width: 35px;
   height: 35px;
   animation: spin 2s linear infinite;
 }

 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }


@keyframes opacityUp {
  from {opacity: 0.3;}
  to {opacity: 1;}
}
@keyframes opacityDown {
  from {opacity: 1;}
  to {opacity: 0.3;}
}

@keyframes grayscaleUp {
  from {filter: grayscale(100%)}
  to {filter: grayscale(0%);}
}
@keyframes grayscaleDown {
  from {filter: grayscale(0%)}
  to {filter: grayscale(100%);}
}
