@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Business Support System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employee</h2>
        <p>
            View all Employee, change and add new ones!
        </p>
        <p>@Html.ActionLink("Get Started", "Index", "Employee")&raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Customer</h2>
        <p>View all Customers, change and add new ones!</p>
        <p>@Html.ActionLink("Get Started", "Index", "Customer") &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Product</h2>
        <p>View all Product, change and add new ones!</p>
        <p>@Html.ActionLink("Get Started", "Index", "Product") &raquo;</p>
    </div>
</div>